@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
}

body{
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
}
